body{
	margin: 0;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 20px;
	line-height: 30px;
}

/* HEADER STYLES */
/* (press "ctrl + /" for comment shortcut*/
header{
	background-color: #483D8B;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Denk One', sans-serif;
}

header h1{
	color: white;
	font-size: 80px;
}

header img{
	border-radius: 180px;
    width: 325px;
    border: 20px solid lightgoldenrodyellow;
}

/* MAIN STYLES */
main {
	max-width: 1024px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 35px;
	color: violet;
	margin: 40px 0 10px;
}

a{
	color: violet;
}
a:hover{
	color: lightgoldenrodyellow;
	background-color: #483D8B;
}

/* FOOTER STYLES */
footer{
	background-color: #483D8B;
	text-align: center;
	color: white;
	padding: 40px;
}

footer p{
	margin: 0;
}

footer a{
	color: white;
}
footer a: hover{
	opacity: .5;
	background-color: transparent;
}

p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0;
}